<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>itrmanagecontent</name>
    <displayName><![CDATA[itrmanagecontent]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[This module is made to manage front content, admin banners and report product issues.]]></description>
    <author><![CDATA[IT ROOM ]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>